@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $commons: (
            'white': 'white',
            'gray': '#F5F7F9',
        );
        $opacity: (
            0: 0,
            10: .1,
            20: .2,
            30: .3,
            40: .4,
            50: .5,
            60: .6,
            70: .7,
            80: .8,
            90: .9,
            100: 1,
        );

        @each $key, $var in $opacity {
            .active {
                &.active\:opacity#{$infix}-#{$key},
                .active\:opacity#{$infix}-#{$key} {
                    --bs-bg-opacity: #{$var} !important;
                    opacity: var(--bs-bg-opacity) !important;
                }
            }
        }


        @each $key, $var in map-merge-multiple($theme-colors, $grays, $commons) {
            .group#{$infix}:hover {
                // color
                .group-hover\:text#{$infix}-#{$key} {
                    --bs-text-opacity: 1;
                    color: #{$var} !important;
                    opacity: var(--bs-text-opacity);
                }

                // background
                .group-hover\:bg#{$infix}-#{$key} {
                    --bs-bg-opacity: 1;
                    background-color: #{$var} !important;
                    opacity: var(--bs-bg-opacity);
                }

                // fill svg
                .group-hover\:fill#{$infix}-#{$key} {
                    fill: #{$var} !important;
                }

                // stroke svg
                .group-hover\:stroke#{$infix}-#{$key} {
                    stroke: #{$var} !important;
                }
            }

            .active {
                &.active\:bg#{$infix}-#{$key},
                .active\:bg#{$infix}-#{$key} {
                    --bs-bg-opacity: 1;
                    background-color: #{$var} !important;
                    opacity: var(--bs-bg-opacity);
                }
                &.active\:text#{$infix}-#{$key},
                .active\:text#{$infix}-#{$key} {
                    --bs-text-opacity: 1;
                    color: #{$var} !important;
                    opacity: var(--bs-text-opacity);
                }
                &.active\:fill#{$infix}-#{$key},
                .active\:fill#{$infix}-#{$key} {
                    fill: #{$var} !important;
                }
                &.active\:stroke#{$infix}-#{$key},
                .active\:stroke#{$infix}-#{$key} {
                    stroke: #{$var} !important;
                }
                &.active\:border#{$infix}-#{$key},
                .active\:border#{$infix}-#{$key} {
                    border-color: #{$var} !important;
                }
            }
        }
    }
}