
.accordion {
    $accordion-color: $gray-900;
    $accordion-button-active-color: $primary;

    $accordion-button-color: $gray-900;
    $accordion-button-active-color: $primary;
    $accordion-button-icon-default: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19 9.5L12 16.5L5 9.5' stroke='#{$accordion-button-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
    $accordion-button-active-icon-default: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19 9.5L12 16.5L5 9.5' stroke='#{$accordion-button-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
    --#{$prefix}accordion-color: #{$accordion-color};
    --#{$prefix}accordion-active-color: #{$accordion-button-active-color};
    --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon-default)};
    --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon-default)};

    &.accordion-ic-plus-min {
        $accordion-icon-color: $gray-900;
        $accordion-icon-active-color: $primary;
        $accordion-color: $gray-900;
        $accordion-button-active-color: $primary;
        $accordion-button-icon-plus-min: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 6V12M12 12V18M12 12H18M12 12L6 12' stroke='#{$accordion-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
        $accordion-button-active-icon-plus-min: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M18 12H6' stroke='#{$accordion-icon-active-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
        --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon-plus-min)};
        --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon-plus-min)};
        --#{$prefix}accordion-color: #{$accordion-color};
        --#{$prefix}accordion-active-color: #{$accordion-button-active-color};
    }

    &.accordion-ic-plus-min-circle {
        $accordion-icon-color: $gray-900;
        $accordion-color: $gray-900;
        $accordion-button-active-color: $primary;
        $accordion-button-icon-plus-min-circle: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 7.5V10.5M10 10.5V13.5M10 10.5H13M10 10.5H7M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z' stroke='#{$accordion-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
        $accordion-button-active-icon-plus-min-circle: url("data:image/svg+xml,<svg fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13 10.5H7M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z' stroke='#{$accordion-icon-color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") !default;
        --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon-plus-min-circle)};
        --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon-plus-min-circle)};
        --#{$prefix}accordion-color: #{$accordion-color};
        --#{$prefix}accordion-active-color: #{$accordion-button-active-color};
    }

    &-item {
        .accordion-header {
            .accordion-button {
                padding: 24px 32px 16px 32px;
                line-height: normal;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 20px;

                &.collapsed {
                    padding: 24px 32px;
                }
            }
        }
        .accordion-collapse {
            .accordion-body {
                padding: 0 32px 24px;
            }
        }
    }
}