.swiper-wrapper{
    -webkit-transition-timing-function:linear !important;
    -o-transition-timing-function:linear !important;
    transition-timing-function:linear !important;
}

.swiper-button-next,
.swiper-button-prev {
    &:after {
        content: none;
    }

    svg {
        width: auto !important;
        height: auto !important;
    }
}