:where(html) {
    --nu-white: #ffffff;
    --nu-black: #111B29;
    --nu-gray: #F5F7F9;
    --nu-gray-smooth: #FAFBFD;

    --nu-primary: #3448FF;
    --nu-secondary: #52B9F3;
    --nu-info: #18A0FB;
    --nu-success: #1BC47D;
    --nu-warning: #FFEB00;
    --nu-danger: #F24822;

    --nu-gray-50: #F8F9FC;
    --nu-gray-100: #F1F4F8;
    --nu-gray-200: #E3E7EF;
    --nu-gray-300: #CDD5E0;
    --nu-gray-400: #97A3B7;
    --nu-gray-500: #677489;
    --nu-gray-600: #4A5567;
    --nu-gray-700: #364052;
    --nu-gray-800: #202A3A;
    --nu-gray-900: #111B29;
}